<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Not Found</title>
</head>
<body>
  <li>
    <div class="message">
      No Message found.
  </div>
  </li>
  <a href="/">Go Back</a>
</body>
</html>